WebServiceServerAuth/helloAuth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><xs:schema version="1.0" targetNamespace="http://webserviceserverauth/" xmlns:tns="http://webserviceserverauth/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InvalidInputException" type="tns:InvalidInputException"/>
  <xs:complexType name="InvalidInputException">
    <xs:sequence>
      <xs:element name="faultInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>